<div class="main-page flex-container">
    <div class="box">
        <h1 class="flex-item welcome-text">
            Welcome to CineFiles
        </h1>
        <button
            class="flex-item my-btn"
            mat-raised-button
            (click)="openLoginUserDialog()"
            color="primary"
        >
            Login
        </button>
        <button
            class="flex-item my-btn"
            mat-raised-button
            (click)="openRegisterUserDialog()"
            color="primary"
        >
            Register
        </button>
    </div>
</div>