<!--<p>director-view works!</p>-->
<div id="director-view">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{data.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p class="description">{{data.bio}}</p>
            <p>Birthdate: {{data.birthdate}}</p>            
        </mat-card-content>
        <mat-card-actions>
            <button
                mat-raised-button
                (click) = "close()"
                color="primary"
            >
                Close
            </button>
        </mat-card-actions>
    </mat-card>
</div>
